@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu' 'sans-serif' ;
}
header{
    display:flex;
    /* justify-content: space-around; */
    padding-left:14px;
    margin:6px;
    margin-bottom:0px;
    border:2px solid red;
}
img{
    
    display: inline;
    height:150px;
    width:130px;
    padding-left:50px;
}
.heading1{
    text-align:center;
    margin:5px;
    font-weight:900;
    font-size: 1.3rem;
    
}
.heading2{
    text-align:center;
    margin:5px;
    font-weight:900;
    font-size: 1.3rem;
    
}
.text{
    
    margin:5px 70px;
    padding: 2px 100px;
    /* text-align: center; */

}
.service{
  /* text-align:center; */
  background-color: rgb(175, 171, 171);
  margin:0px 6px;
  padding:3px;
  font-weight: 500;
  
}

.First-style{
    display: flex;
    justify-content: space-between;
    width:1000px;
    padding:6px;
    margin:5px;
    font-size: 1.2rem;
    
}
.Second-style{
    display: flex;
    justify-content: space-between;
    width:800px;
    padding:6px;
    margin:5px;
    font-size: 1.2rem;
    
}
.allign{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.ApplicantDetails{
    /* text-align:center; */
    background-color: rgb(175, 171, 171);
    margin:0px 6px;
    padding:3px;
    font-weight: 500;

}
.inputName
{
    display: flex;
    justify-content: space-between;
    width:800px;
    padding:6px;
    margin:5px;
    font-size: 1.2rem;
}
.group
{
    display:flex;
    justify-content: space-between;
    padding:6px;
    margin:3px;
}
#dirn{
    font-weight: 500;
    color:grey;
    margin:6px;
}
.btn{
    padding:10px;
    margin:20px;
    display: flex;
    align-items: center;
    border: 2px solid red;
}
.final
{
    padding:10px;
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn:hover{
    box-shadow: 10px 10px 5px tomato,-10px -10px 5px tomato;
    background-color: rgb(54, 235, 54);
}
